COMMON_VERSION=0.4.2
LOG_LEVEL=DEBUG
CONFIG_FILE=config-local.yaml
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-2
AWS_REGION=ap-southeast-2
AWS_ACCOUNT=814504268053
NODE_ENV=production
NODE_PATH=/home/ec2-user/node_modules